{# topbar.jinja2 #}

{# Page #}
{%- macro page(title) -%}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h3">{{ title }}</h1>
    </div>
{%- endmacro -%}

{# Page with buttons #}
{%- macro page_buttons(title) -%}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h3">{{ title }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                {{ caller () }}
            </div>
        </div>
    </div>
{%- endmacro -%}

{# Button #}
{%- macro button(label, url, icon) -%}
                <a class="btn btn-sm btn-outline-secondary" href="{{ url }}"><span class="iconify" data-icon="{{ icon }}"></span> {{ label }}</a>
{%- endmacro -%}
