{% extends 'layouts/app.jinja2' %}
{% import 'macros/start.jinja2' as start %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Inicio{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Inicio') }}
{% endblock %}

{% block custom_head %}
    <style>
        .btn-cita{
            margin-right:70px;
        }
    </style>
{% endblock %}

{% block content %}
    {% call start.card() %}
        <h1 class="text-center">Citas v2 cliente</h1>
        <a href="{{url_for('politicas.aviso_privacidad')}}">Aviso de privaciad</a><br/>
        <a href="{{url_for('politicas.terminos_condiciones')}}">Términos y Condiciones</a><br/>
    {% endcall %}
    <div class="container">
        <div class="mb-5 d-grid gap-2 d-md-flex justify-content-md-end"><a href="{{ url_for('cit_citas.new') }}" class="btn btn-success e-md-2 btn-cita">Agendar cita</a></div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card col" style="width: 18rem; padding:10px;">
                    <span><p>25-abril-2022</p></span>
                    <span><p class="mr-2" style="display:flex; float:right;">09:00</p></span>
                    <div class="card-body">
                        <h5 class="card-title">Distrito Judicial Torreon</h5>
                        <p class="card-text">Juzgado quinto de primera instancia en materia penal</p>
                        <a href="#" class="btn btn-primary">Ver detalles</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card col" style="width: 18rem; padding:10px;">
                    <span><p>26-abril-2022</p></span>
                    <span><p class="mr-2" style="display:flex; float:right;">10:00</p></span>
                    <div class="card-body">
                        <h5 class="card-title">Distrito Judicial Torreon</h5>
                        <p class="card-text">Juzgado quinto de primera instancia en materia penal</p>
                        <a href="#" class="btn btn-primary">Ver detalles</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card col" style="width: 18rem; padding:10px;">
                    <span><p>04-mayo-2022</p></span>
                    <span><p class="mr-2" style="display:flex; float:right;">11:00</p></span>
                    <div class="card-body">
                        <h5 class="card-title">Distrito Judicial Torreon</h5>
                        <p class="card-text">Juzgado quinto de primera instancia en materia penal</p>
                        <a href="#" class="btn btn-primary">Ver detalles</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
