{% extends 'layouts/login.jinja2' %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Registro{% endblock %}

{% block content %}
    <div id="access" class="py-2">
    <h1 class="text-center">Citas v2 - Registro</h1>
    {% if registro %}
    <div class="alert alert-success" role="alert">
        <span data-icon="mdi:check-circle" class="iconify material-icons" style="font-size: 48px;">face</span>
        <h3 style="text-align: center; display: inline;">Su registro se completo con éxito</h3>
        <p>Ahora vaya a su correo electrónico y presione sobre el botón de verificar su cuenta.</p>
    </div>
    <a href="{{url_for('cit_clientes.login')}}"><< Regresar a la página de entrada</a>
    {% else %}
    <div class="alert alert-warning" role="alert">
        <span data-icon="mdi:alert" class="iconify material-icons" style="font-size: 48px;">face</span>
        <h3 style="text-align: center; display: inline;">Su registro NO se pudo completar</h3>
        <p>Vuelva a intentarlo más tarde.</p>
    </div>
    <a href="{{url_for('cit_clientes.new')}}"><< Registro de nuevo usuario</a><br />
    {% endif %}
{% endblock %}
